.all-comments {
  align-items: flex-start;
  display: flex;
  gap: 254px;
  overflow: hidden;
  position: relative;
}

.all-comments .comments {
  height: 329px;
  position: relative;
  width: 890px;
}

.all-comments .frame {
  border: 3px solid;
  border-color: #dfdfdf;
  border-radius: 40px;
  box-shadow: 0px 4px 36px #00000033;
  height: 329px;
  overflow: hidden;
  position: relative;
}

.all-comments .ellipse {
  height: 94px;
  object-fit: cover;
  position: absolute;
  width: 94px;
}

.all-comments .div {
  color: var(--grey-1);
  direction: rtl;
  font-family: var(--text-regular-font-family);
  font-size: var(--text-regular-font-size);
  font-style: var(--text-regular-font-style);
  font-weight: var(--text-regular-font-weight);
  left: 114px;
  letter-spacing: var(--text-regular-letter-spacing);
  line-height: var(--text-regular-line-height);
  position: absolute;
  text-align: center;
  top: 178px;
  width: 662px;
}

.all-comments .div-2 {
  color: #1c1c1c;
  direction: rtl;
  font-family: var(--text-bold-font-family);
  font-size: var(--text-bold-font-size);
  font-style: var(--text-bold-font-style);
  font-weight: var(--text-bold-font-weight);
  letter-spacing: var(--text-bold-letter-spacing);
  line-height: var(--text-bold-line-height);
  position: absolute;
  text-align: center;
  top: 131px;
}

.all-comments .frame-wrapper {
  height: 329px;
  position: relative;
  width: 890px;
}

.all-comments .img {
  height: 94px;
  object-fit: cover;
  position: absolute;
  width: 94px;
}

.all-comments .div-3 {
  color: #1c1c1c;
  direction: rtl;
  font-family: var(--text-bold-font-family);
  font-size: var(--text-bold-font-size);
  font-style: var(--text-bold-font-style);
  font-weight: var(--text-bold-font-weight);
  letter-spacing: var(--text-bold-letter-spacing);
  line-height: var(--text-bold-line-height);
  position: absolute;
  text-align: center;
  top: 131px;
}

.all-comments .div-wrapper {
  height: 329px;
  position: relative;
  width: 890px;
}

.all-comments .ellipse-2 {
  height: 94px;
  object-fit: cover;
  position: absolute;
  width: 94px;
}

.all-comments .div-4 {
  color: #1c1c1c;
  direction: rtl;
  font-family: var(--text-bold-font-family);
  font-size: var(--text-bold-font-size);
  font-style: var(--text-bold-font-style);
  font-weight: var(--text-bold-font-weight);
  letter-spacing: var(--text-bold-letter-spacing);
  line-height: var(--text-bold-line-height);
  position: absolute;
  text-align: center;
  top: 131px;
}

.all-comments.property-1-default {
  padding: 0px 0px 0px 65.5px;
  width: 956px;
}

.all-comments.property-1-variant-3 {
  justify-content: flex-end;
  padding: 0px 0px 0px 65.5px;
  width: 956px;
}

.all-comments.property-1-variant-2 {
  justify-content: center;
  width: 1021px;
}

.all-comments.property-1-variant-3 .comments {
  margin-left: -2287.5px;
}

.all-comments.property-1-variant-2 .comments {
  margin-left: -1078.5px;
}

.all-comments.property-1-default .ellipse {
  left: 407px;
  top: 32px;
}

.all-comments.property-1-variant-3 .ellipse {
  left: 14379px;
  top: 4600px;
}

.all-comments.property-1-variant-2 .ellipse {
  left: 13236px;
  top: 4969px;
}

.all-comments.property-1-default .div-2 {
  left: 394px;
}

.all-comments.property-1-variant-3 .div-2 {
  left: 399px;
}

.all-comments.property-1-variant-2 .div-2 {
  left: 394px;
}

.all-comments.property-1-variant-3 .frame-wrapper {
  margin-left: -1143.5px;
}

.all-comments.property-1-default .img {
  left: 10948px;
  top: 5346px;
}

.all-comments.property-1-variant-3 .img {
  left: 13235px;
  top: 4600px;
}

.all-comments.property-1-variant-2 .img {
  left: 407px;
  top: 32px;
}

.all-comments.property-1-default .div-3 {
  left: 408px;
}

.all-comments.property-1-variant-3 .div-3 {
  left: 394px;
}

.all-comments.property-1-variant-2 .div-3 {
  left: 399px;
}

.all-comments.property-1-default .ellipse-2 {
  left: 9804px;
  top: 5346px;
}

.all-comments.property-1-variant-3 .ellipse-2 {
  left: 408px;
  top: 32px;
}

.all-comments.property-1-variant-2 .ellipse-2 {
  left: 10948px;
  top: 4969px;
}

.all-comments.property-1-default .div-4 {
  left: 399px;
}

.all-comments.property-1-variant-3 .div-4 {
  left: 408px;
}

.all-comments.property-1-variant-2 .div-4 {
  left: 408px;
}
