.home {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 13px 24px;
  position: relative;
}

.home .text-wrapper-15 {
  direction: rtl;
  font-family: var(--text-medium-font-family);
  font-size: var(--text-medium-font-size);
  font-style: var(--text-medium-font-style);
  font-weight: var(--text-medium-font-weight);
  letter-spacing: var(--text-medium-letter-spacing);
  line-height: var(--text-medium-line-height);
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.home.property-1-11-default {
  background-color: var(--white);
  border-radius: 9px;
  gap: 10px;
}

.home.property-1-11-variant-2 {
  background-color: var(--grey-3);
  border-radius: 73px;
  gap: 14px;
}

.home.property-1-11-default .text-wrapper-15 {
  color: var(--grey-1);
}

.home.property-1-11-variant-2 .text-wrapper-15 {
  color: var(--main);
}
